#post
  %form.post(action='/cards' method='post')
    %textarea#text(name='card[text]' type='text'){:onkeypress => "return onKey(event);"}
    %input{:type => "button", :value => "post", :onclick => "post()"}

#recent
  #first_recent
  - @cards.each do |c|
    .card 
      %pre.text= c.r_text

#navi
  %a{:title => 'Next', :href => "/cards/#{@current_page+1}"} Next
  
TODO タグのNEXTは後で考える