%html
  %head
    %title= @title || "mini cards"
    %script{ :type => 'text/javascript', :src => '/javascripts/jquery.js' }
    %script{ :type => 'text/javascript', :src => '/javascripts/app.js' }
    %link{ :rel => 'stylesheet', :href => '/stylesheet.css' }
    %meta{ :content => "text/html charset=UTF-8" }
    
  %body
    .body
      = yield