!width = 500px

body
  :font-family "Helvetica Neue", "Lucida Grande", "Arial"
  :font-size 32px
  :text-align left
  :-webkit-text-stroke 1px rgba(255, 255, 255, 0.1)
  :color #555
  :background-color #2c4762

textarea
  :font-size 36px
  :margin-top 5px
  width = !width
  :height 140px
input
  :margin-top 10px
  width = !width
  :font-size 20px

#post,
#navi,
div.card
  :background-color white
  -webkit-border-radius: 10px
  -webkit-box-shadow: green 2px 2px 2px 2px
  :margin-left 80px
  :margin-bottom 15px
  :padding 5px
  width = !width
  .text
    :margin 10px 10px 10px 10px
    
#post
  :height 175px

div.card>form>h1
  :margin-top 2px
  :margin-bottom 2px
  :font-size 36px
  :border-bottom solid 4px gray
  :border-bottom-width 3px solid #999

.edit
  :font-size 16px
  :margin-right 10px
